@model Flext.Models.TafelStatus
@{
    Layout = "_UserLayout";
}
<h2>Overzicht</h2>
<div class="Workplace_Area">
    <div class="Workplace_Table">
        <div style="margin-top: 5px">
            @for (int i = 0; i < 4; i++)
            {
                if (Model.Stoelen.ElementAt(i).Bezet)
                {
                    <div class="Workplace_seat_Offset">
                        <div class="Workplace_Seat Taken_Seat">
                            @(i + 1)
                        </div>
                    </div>
                }
                else
                {
                    <div class="Workplace_seat_Offset">
                        <div class="Workplace_Seat Free_Seat">
                            @(i + 1)
                        </div>
                    </div>
                }
            }

        </div>
        <div style="margin-top: 135px">
            <center>
                <h2>@Model.Tafelnaam</h2>
            </center>
        </div>
        <div style="margin-top: 60px">
            @for (int i = 4; i < 8; i++)
            {
                if (Model.Stoelen.ElementAt(i).Bezet)
                {
                    <div class="Workplace_seat_Offset">
                        <div class="Workplace_Seat Taken_Seat">
                            @(i + 1)
                        </div>
                    </div>
                }
                else
                {
                    <div class="Workplace_seat_Offset">
                        <div class="Workplace_Seat Free_Seat">
                            @(i + 1)
                        </div>
                    </div>
                }
            }
        </div>
    </div>

</div>
